h1 {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  padding: 10px;
  font-size: 1.5em;
  text-align: center;
  text-decoration: underline;
  font-family: "Arial Black", Gadget, sans-serif;
}

h2 {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  font-size: 1.2em;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
}

h3 {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 10px;
  font-size: 1.5em;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  border: 3px solid #000000;
}

h4 {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: "Arial Black", Gadget, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 2em;
  font-family: "Arial Black", Gadget, sans-serif;
}

button {
  background-color: blueviolet;
  color: white;
  padding: 5px;
}
